<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        a{
            text-decoration: none;
            font-size: 25px;
        }
        *{
            text-align: center;
        }
        button{
            font-size: 20px;
        }
    </style>
</head>
<body>
    
    <button onclick="eventhtml()">Html 1</button> <br/><br/>
    <a href="https://en.wikipedia.org/wiki/Desert" onclick="event()"> html 2</a>

    <script>
        const eventhtml=()=>{
            console.log("hello html");
        }

        const event =()=>{
           
            console.log("hello html 2")
        }
    </script>
</body>
</html>